.main {
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}
.main header {
  overflow: hidden;
  margin-top: 60px;
  margin-left: 70px;
}
.main .hero {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  position: relative;
}
.main .hero__image-section {
  min-width: 0;
}
.main .hero__image-section .illustration {
  max-width: 700px;
  min-width: 0;
  height: auto;
}
.main .hero__content {
  flex: 1 0 auto;
  overflow: hidden;
  padding: 0 20px;
}
.main .hero__content .main-text {
  font-family: "SpareBank 1";
  font-size: 34px;
  line-height: 50px;
  text-wrap: balance;
}
.main .hero__content .main-text .smudtech {
  font-weight: bolder;
}
.main .hero__content .hold-av-dato {
  margin-top: 56px;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background-color: #fadde1;
  font-family: "SpareBank 1";
}
.main .hero .wave-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: -1;
}

@media screen and (max-width: 1400px) {
  .main .hero__image-section .illustration {
    max-width: 65%;
  }
  .main .hero__content {
    position: fixed;
    top: 20%;
    right: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .main .hero__content {
    top: 20%;
  }
  .main .hero__content h1 {
    font-size: 34px;
  }
  .main .hero__content .main-text {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    min-height: 100vh;
    overflow: auto;
    gap: 0;
  }
  .main header {
    overflow: visible;
    margin-top: 20px;
    margin-left: 30px;
  }
  .main header img {
    width: 200px;
    height: auto;
  }
  .main .hero {
    flex-direction: column-reverse;
  }
  .main .hero__image-section {
    overflow: hidden;
  }
  .main .hero__image-section .illustration {
    max-width: 60%;
    margin-bottom: -50px;
  }
  .main .hero__content {
    position: initial;
    text-align: center;
  }
  .main .hero__content h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 32px;
  }
  .main .hero__content .main-text {
    font-size: 24px;
    line-height: 30px;
  }
  .main .hero__content .hold-av-dato {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .main .hero .wave-background {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main header {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .main .hero .illustration {
    min-width: 101%;
  }
}
@media screen and (max-width: 600px) {
  .main {
    gap: 32px;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
  }
  .main header {
    width: 200px;
    margin-top: 20px;
  }
  .main header img {
    width: 100%;
    height: auto;
  }
  .main .hero {
    height: 100%;
    justify-content: space-between;
  }
  .main .hero__content h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .main .hero__content .main-text {
    font-size: 1rem;
    margin: 20px 0 40px;
  }
  .main .hero__content .hold-av-dato {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .main .hero .illustration {
    margin-bottom: -20px;
  }
}
@media screen and (max-width: 500px) {
  .main .hero__content {
    text-align: left;
  }
}/*# sourceMappingURL=beforeConference.css.map */