.smud-tech-header {
  display: flex;
  flex-direction: column;

  .smud-tech-header-logo {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    padding-bottom: 122px;
    position: relative;

    &__content {
      width: 658px;
      height: 468px;

      &__logo-background {
        width: 658px;
        height: 468px;
      }

      &__logo-and-text {
        position: absolute;
        left: 64px;
        top: 64px;
        display: flex;
        align-items: center;
        &__logo {
          max-width: min-content;
          border-right: 2px solid #002776;
          margin-right: 18px;
          padding-right: 18px;
          display: inline;
        }

        &__text {
          font-weight: 400;
          font-size: 1rem;
          line-height: 24px;
          width: 268px;
          height: 50px;
          flex-shrink: 0;
          color: var(--farge-fjell) !important;
        }
      }
    }
  }
}
